@using DreamWeb.DAL.Entities
@{
    ViewData["Title"] = "User";
}

<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <script scr="~/lib/jquerry/dist/jquerry.js"></script>
    <script scr="~/js/site.js"></script>
</head>
<body>
    <div class = "container">
        <div class= "row">
            <div class = "col-2 text fs-4 " style = "margin-top:20px; "> 
                <div style="border: 2px solid grey; border-radius: 5px; padding:10px;" >
                    <div class = "border-bottom border-2 ">
                        @ViewBag.User.UserName
                    </div>
                    <div>
                        <a style="text-decoration:none; color: black" href="../../Identity/Account/Manage/Index">Settings</a>
                    </div>
                    <div>
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                            <button type="submit" style ="padding-left: 0px; padding-top:0px;"class=" text fs-4 nav-link btn btn-link text-dark">Sign out</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class = "col-9">
                <form asp-controller="User" asp-action="DreamsSort" method="get">
                    <div class = "row" style = "border: 2px solid grey; border-radius: 5px; margin-top: 20px; margin-left: 10px;">
                        <div class = "col-3" style="padding-top: 5px; padding-bottom: 5px;">
                            Order by:
                            <select name="orderBy">
                                <option value="1">From new to old</option>
                                <option value="2">From old to new</option>
                                <option value="3">From short to long</option>
                                <option value="4">From long to short</option>    
                            </select>
                        </div>
                        <div class = "col-3" style =" padding-top: 5px; padding-bottom: 5px;">
                            <div class="">
                                <label for="inputDate">Select date:</label>
                                <input name ="date" type="date" class="">
                            </div>
                        </div>
                        <div class = "col-4" style = "padding-top: 5px; padding-bottom: 10px;">
                            <div>
                                <input name ="keyWords" type="text" class="" placeholder= "Find key words" style="height: 40px; padding-top: 5px; padding-bottom: 5px;">   
                            </div>
                        </div>
                        <div class = "col-2" style ="padding-top: 10px; padding-bottom: 5px;">
                            <button id="searchSubmit" type="submit" class="w-100 btn btn-lg btn-secondary">Go!</button>
                        </div>
                    </div>
                </form>
                <div class = "row input-dreams-trigger-div">
                    <div class ="col-12" style="margin-left:10px;">
                        <input class = "input-dreams-trigger" type="text" placeholder ="Any new dreams?"/>
                    </div>
                </div>
                <form asp-controller="User" asp-action="AddDream" method = "post">
                    <div  class = "dreamstory-input" style = "border-radius: 5px; border: 2px solid grey; margin-left: 10px; margin-top: 10px;padding:10px;">
                        <div class = "row">
                            <div class ="col-12" style="">
                                <label class = "fs-5">Dream's name</label>
                                <input required class = "dreams-input-trigger-main" name="name" type="text" placeholder ="My dream will be named..."/>
                            </div>
                        </div>
                        <div class = "row" style = "padding-bottom: 20px;">
                            <div class ="col-12" style="">
                                <label class = "fs-5">Dream's topics</label>
                                <input name = "topics" type="text" placeholder ="Topics: Cats, dogs, a lot of cheese" required/>
                            </div>
                            <div class ="col-12" style="">
                                <label class = "fs-5">Hours spent asleep:</label>
                                <input name="hours" class = "dreams-input-trigger-main" type="text" placeholder ="8,5" required/>
                            </div>
                        </div>
                        <div style = "margin-top:5px; margin-bottom:5px" class = "border-bottom border-3">
                        </div>
                        <div class = "dreamstory-input-part">
                            <div class = "input-block">
                                <div class = "row">
                                    <div class ="col-12" >
                                        <label class = "fs-5">Dream's text</label>
                                        <button type="button" class = "dreaminput-delete-btn btn btn-dark" style="float: right;
                                                                margin-top: 10px; margin-bottom:5px" >Delete section</button>
                                        <textarea name = "content" style = "min-height: 450px;" type="text" placeholder ="Well, there was a big cat and there was a big bike..."></textarea>
                                        <button type="button" class = "dreaminput-new-section-btn btn btn-secondary" style="margin-top: 10px; margin-bottom: 10px;" >Add new section</button>
                                        <div style = "margin-top:5px; margin-bottom:5px" class = "border-bottom border-3"></div>
                                    </div>
                                </div> 
                            </div>
                        </div>
                        <div class = "row">
                            <div class = "col-12">
                                <div class="form-check" style = "margin: 10px">
                                    <input value="true" name = "isPublic" class="form-check-input" type="checkbox" id="flexCheckDefault"/>
                                    <label style = "margin-top:0px"; class="form-check-label" for="flexCheckDefault">
                                        Make this publication public
                                    </label>
                                </div>
                                <div style = "margin-top:5px; margin-bottom:5px" class = "border-bottom border-3">
                                </div>
                            </div>
                            <div class = "row">
                                <div class ="col-12" style="margin-top: 10px;">
                                    <button type="submit" class = "btn btn-secondary">Add note</button>
                                    <button style = "float:right;" type="button" class = "btn btn-dark dream-input-cancel">Cancel</button>
                                </div>
                            </div>  
                        </div>
                    </div>
                        <input name="authorId" hidden value = @ViewBag.User.Id ></input>
                </form>
         
                @if(ViewBag.User.Dreams == null)
                {
                    <div class = "row" style="border: 2px solid grey; border-radius: 5px; margin-top:10px; margin-left: 10px;">
                        <div class = "row ">
                            <div class = "col-4" style = "padding:10px;">                      
                                <p class ="badge bg-secondary text-center fs-4">Ooops :(</p>
                            </div>
                        <div class = "row">
                            <div class = "col fs-4 text-center" style="margin: 10px;">
                                You don't have any notes yet.
                            </div>
                        </div>
                            <span class = "border-bottom border-3"></span>
                        </div>
                    </div>
                }
                else {
                    @foreach(Dream publication in (List<Dream>)ViewBag.User.Dreams)
                    {
                        string [] content = DreamContentConverter.Split(publication.Content);

                        <div class = "row" style="border: 2px solid grey; border-radius: 5px; margin-top:10px; margin-left: 10px;">
                            <div class = "row ">
                                <div class = "col-3 overflow-hidden">          
                                    <p style="margin-top:10px;" class ="badge bg-secondary fs-5">
                                        <a style="text-decoration:none; color: white;" asp-controller="User" asp-action="Dream"
                                        asp-route-publicationId=@publication.Id>@publication.Name</a>
                                    </p>
                                </div>
                                <div class = "col-4" style = "padding:10px;">
                                    @{
                                        string date = (publication.CreationDate).ToString("dd.MM.yy");
                                    }
                                    <p class =" fs-5">Publication date: @date</p>
                                </div>
                                <div class = "col-2" style = "padding:10px; ">
                                    <p class =" fs-5">Sleep duration: @publication.Hours</p>
                                </div>
                                <div class = "col-1" style = "padding:10px; margin-right:15px;">
                                    @if (publication.IsPublic)
                                    {
                                        <p class =" fs-5">Public</p>
                                    }
                                    else
                                    {
                                        <p class =" fs-5">Private</p>
                                    }
                                </div>
                                <div class = "col-1">
                                    <form method="post" asp-controller="User" asp-action="RemoveDream">
                                        <input hidden name ="dreamId" value =@publication.Id></input>
                                        <input style = "float:right; margin-top:10px;" type="submit" value="Delete" class = "dream-delete-button btn btn-dark"/>
                                    </form>
                                </div>
                            </div>
                      
                            <div class = "row">
                                <div class = "col">  
                                    <p class = "fs-5 text-muted border border-2 rounded-3" style="padding: 5px">Topics: @publication.Topics</p>
                                </div>
                            </div>
                            @foreach(string str in content)
                            {
                                <div class = "row">
                                    <div class = "col fs-5" style="margin: 10px; word-wrap: break-word">
                                        <p readonly style="border:none">@str</p>
                                    </div>
                                </div>
                                <span class = "border-bottom border-3"></span>
                            }
                        </div>
                    }
                    
                }
            </div>
        </div>
    </div>

</body>